:root {
  --primary-color: #1e402d;
  --secondary-color: #458472;
  --bg-primary-color: #eeeeee;
  --bg-secondary-color: #ffffff;
  --text-title-color: #1e402d;
  --text-texts-color: #353535;
}
.hero {
  background-image: url("../img/background/WEBSITE NATIONAL V1.1_01.png");
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}
